.modal-container {
    height: 250px;
    width: 400px;
    background-color: #E0CDA9;
    position: absolute;
    right: 1rem;
    top: 4.3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Assistant", serif;

    form {
        display: flex;
        flex-direction: column;
    }
}