<div class="modal-container">
    <div class="modal-content">
        <i (click)="closeUserEntrance()" class="fa-solid fa-xmark"></i>
        <h3 class="headline">כניסה לחשבון</h3>

        <div class="entrance-options">
            <div (click)="showLoginModal()" class="sub-headline" [ngClass]="{ 'active-entrance-border' : isLoginEntrance}">login</div>
            <div class="seperator">|</div>
            <div (click)="onSignupClicked()" class="sub-headline" [ngClass]="{ 'active-entrance-border' : !isLoginEntrance}">sign-up</div>
        </div>

        <app-login (userLoggedIn)="closeUserEntrance()" *ngIf="isLoginEntrance"></app-login>
        <app-sign-up (userSignedup)="showLoginModal()" *ngIf="!isLoginEntrance"></app-sign-up>
    </div>
</div>