:host {
    display: block;
    position: relative;
    min-height: 100vh;
    background-color: #f3e6ce;
    font-family: "Assistant", serif;
    
}

.logo-container {
    height: 20vh;
    padding-top: 5vh;

    .logo {
        display: block;
        width: 120px;
        margin: 0 auto;
    }
}

form {
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;

    .headline {
        margin: 1.5rem 0;
    }

    .form-text-input {
        position: relative;
        direction: rtl;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.2rem;
        border-radius: 5px;
        padding: 0.5rem;

        label {
            font-weight: 600;
            font-size: 1.3rem;
        }

        input {
            background-color: #daf5ff;
            width: 70%;
            border: 1px solid #168db8;
            border-radius: 5px;
            padding: 0.5rem;
            outline: none;
        }

        .error-message {
            position: absolute;
            top: 45px;
            right: 115px;
            color: red;
            font-weight: 600;
            font-size: 1rem;
        }

        .error-border {
            border: 1px solid red;
        }
    }

    button {
        width: 30%;
        padding: 0.5rem;
        margin: 1.5rem 0;
        border: none;
        border-radius: 10px;
        background-color: #168db8;
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
    }

    button:hover {
        background-color: #20657e;
    }

    button:disabled {
        cursor: not-allowed;
        background-color: #168db8;
    }

    .admin-not-exist-modal-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;

        .admin-not-exist-modal {
           position: relative;
            padding: 2rem 2rem 1.5rem;
            width: 300px;
            background-color: #f3e6ce;
            border: 1px solid black;
            border-radius: 5px;
            text-align: center;
            font-weight: 700;
            animation: show 0.3s;
    
            .fa-xmark {
                position: absolute;
                top: 10px;
                left: 10px;
                cursor: pointer;
            }
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 550px) {
    .logo {
        position: static;
        width: 40vw;
    }

    form {
        width: 90%;

        .form-text-input {
            width: 95%;

            label {
                font-size: 1.1rem;
            }
        }

        .admin-not-exist-modal {

        }
    }
}