<div class="header-container">
    <div class="main-bar">
        <img src="../../../assets/logo.png" alt="" class="logo">

        <app-search-box></app-search-box>

        <div class="icons">
            <i class="fa-regular fa-user" *ngIf="!loggedUser" (click)="onUserIconClicked()"></i>

            <a routerLink="/shopping-cart" *ngIf="router.url !== '/shopping-cart'">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            <a routerLink="" *ngIf="router.url !== '/all-books'">
                <i class="fa-solid fa-home"></i>
            </a>
            
            <i (click)="changeSettingModalDisplay()" class="fa-solid fa-cog" *ngIf="loggedUser"></i>
            <div class="settings-modal" *ngIf="showSettingsModal">
                <a (click)="changeSettingModalDisplay()" routerLink="/user-account">Your account</a>
                <a (click)="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="books-categories">
        <a href="">Drama</a>
        <a class="category" href="">Action</a>
        <a class="category" href="">Popular</a>
        <a class="category" href="">Comedy</a>
        <a class="category" href="">Business</a>
        <a class="category" href="">Horror</a>
        <a class="category" href="">Kids</a>
        <a class="category" href="">History</a>
        <a class="category" href="">Food</a>
    </div>
</div>