<div class="header-container">
    <div class="main-bar">
        <img src="../../../assets/logo.png" alt="" class="logo">

        <app-search-box></app-search-box>

        <div class="icons">
            <i (click)="onUserIconClicked()" class="fa-regular fa-user">
            </i>
            <a routerLink="/shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>

    <div class="books-categories">
        <a href="">Drama</a>
        <a class="category" href="">Action</a>
        <a class="category" href="">Popular</a>
        <a class="category" href="">Comedy</a>
        <a class="category" href="">Business</a>
        <a class="category" href="">Horror</a>
        <a class="category" href="">Kids</a>
        <a class="category" href="">History</a>
        <a class="category" href="">Food</a>
    </div>
</div>