<div class="header-container">
    <div class="main-bar">
        <img src="../../../assets/logo.png" alt="" class="logo">

        <app-search-box></app-search-box>

        <i class="fas fa-ellipsis-v" (click)="onMobileIconClicked()"></i>

        <div class="header-links" *ngIf="showMobileLinks || !isSmallScreen">
            <a *ngIf="!loggedUser && router.url !== '/control-center'" (click)="onUserIconClicked()">
                <div class="mobile-link" *ngIf="showMobileLinks">כניסה לחשבונך</div>
                <i class="fa-regular fa-user icon"></i>
            </a>

            <a routerLink="/shopping-cart" *ngIf="router.url !== '/shopping-cart' && router.url !== '/control-center'">
                <div class="mobile-link" *ngIf="showMobileLinks">עגלת הקניות</div>
                <i class="fa-solid fa-cart-shopping icon"></i>
            </a>

            <a routerLink="/control-center" *ngIf="router.url !== '/all-books' && router.url !== '/control-center'">
                <div class="mobile-link" *ngIf="showMobileLinks">עמוד הבית</div>
                <i class="fa-solid fa-home icon"></i>
            </a>

            <div class="settings"
                *ngIf="(loggedUser && router.url !== '/user-account') || router.url === '/control-center'">
                <i (click)="changeSettingModalDisplay()" class="fa-solid fa-cog icon"></i>

                <div class="settings-modal" *ngIf="showSettingsModal || showMobileLinks">
                    <a (click)="changeSettingModalDisplay()" routerLink="/user-account">
                        <div class="mobile-link">פרטי חשבון</div>
                    </a>
                    <a (click)="logout()">
                        <div class="mobile-link">התנתקות</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="books-categories">
        <a>Drama</a>
        <a class="category">Action</a>
        <a class="category">Popular</a>
        <a class="category">Comedy</a>
        <a class="category">Business</a>
        <a class="category">Horror</a>
        <a class="category">Kids</a>
        <a class="category">History</a>
        <a class="category">Food</a>
    </div>
</div>