<button class="add-book-button" (click)="onAddBookButtonClicked()">
    <span class="add-book-button-text">הוסף ספר</span>
    <i class="fa-solid fa-plus"></i>
</button>

<div class="add-book-modal-container" *ngIf="showAddBookModal">
    <div class="add-book-modal">
        <i (click)="onCloseAddBookButtonClicked()" class="fa-solid fa-xmark"></i>

        <h2 class="add-book-modal-headline">:הוסף ספר</h2>

        <form [formGroup]="addBookForm" (ngSubmit)="onSubmitAddBook()">
            <div class="add-book-modal-input">
                <label class="add-book-label" for="name">שם:</label>
                <input class="add-book-input-content" type="text" formControlName="name">
                <div class="add-book-error-message"
                    *ngIf="addBookForm.get('name').invalid && addBookForm.get('name').touched">
                    יש להכניס את שם הספר</div>
            </div>

            <div class="add-book-modal-input">
                <label class="add-book-label" for="authorId">מק"ט מחבר:</label>
                <input class="add-book-input-content" type="text" formControlName="authorId">
                <div class="add-book-error-message"
                    *ngIf="addBookForm.get('authorId').invalid && addBookForm.get('authorId').touched">
                    יש להכניס מק"ט המחבר</div>
            </div>

            <div class="add-book-modal-input">
                <label class="add-book-label" for="price">מחיר:</label>
                <input class="add-book-input-content" type="text" formControlName="price">
                <div class="add-book-error-message"
                    *ngIf="addBookForm.get('price').invalid && addBookForm.get('price').touched">
                    {{priceErrorMessage()}}
                </div>
            </div>

            <div class="add-book-modal-input">
                <label class="add-book-label" for="description">תיאור:</label>
                <input class="add-book-input-content" type="text" formControlName="description">
            </div>

            <div class="add-book-modal-input">
                <label class="add-book-label" for="imgPath">תמונה:</label>
                <input class="add-book-input-content" type="text" formControlName="imgPath">
                <div class="add-book-error-message"
                    *ngIf="addBookForm.get('imgPath').invalid && addBookForm.get('imgPath').touched">
                    יש להכניס נתיב</div>
            </div>

            <button [disabled]="addBookForm.invalid" class="confirm-add-book-button">הוסף</button>
        </form>

        <div class="submit-error-modal-container" *ngIf="isInvalidAuthorId">
            <div class="submit-error-modal">
                <i (click)="onCloseAuthorErrorModalButtonClicked()" class="fas fa-xmark"></i>
                .לא קיים סופר עם המק"ט המצוין
            </div>
        </div>
    </div>
</div>