<div class="book-container" *ngIf="bookToDisplay">
    <div class="book-details">
        <div class="book-name">{{bookToDisplay.name}}</div>
        <div class="book-author">{{bookToDisplay.authorName}}</div>
        <div class="book-preview">
            <h2>:על הספר</h2>
            <div class="book-preview-text">{{bookToDisplay.description}}</div>
        </div>
        <div class="book-id">{{bookToDisplay.id}} :מק"ט</div>
        <div class="book-price">
            ₪ {{bookToDisplay.price}}
            <span class="price-title">:מחיר</span>
        </div>

        <button (click)="addBookToCart()" class="add-to-cart-button" *ngIf="loggedUser">הוסף לעגלת הקניות</button>
        <div class="login-message" *ngIf="!loggedUser">יש להתחבר לחשבונך על מנת לצרף את הספר לעגלת הקניות</div>

        <div class="add-book-modal-container" *ngIf="bookAddedToCart">
            <div class="add-book-modal">
                <i class="fas fa-xmark" (click)="onCloseAddBookToCartModal()"></i>
                הספר התווסף לעגלת הקניות שלך. <br>
                למעבר לעגלה לחץ
                <a routerLink="/shopping-cart">כאן</a>
            </div>
        </div>
    </div>

    <img src="{{bookToDisplay.imgPath}}" alt="">
</div>