:host {
    width: 100%;
}

form {
    width: 85%;
    margin: 1.2rem auto;

    .form-text-input {
        width: 70%;
        height: 5rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto 1rem;

        label {
            margin-bottom: 0.5rem;
        }

        input {
            background-color: rgb(241, 222, 222);
            border: 1px solid #493638;
            border-radius: 10px;
            padding: 0.35rem 0.7rem;
            outline: none;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        }
    }

    button {
        display: block;
        width: 50%;
        margin: 1.5rem auto;
        padding: 0.5rem;
        border-radius: 15px;
        border: none;
        background-color: #493638;
        color: rgb(241, 222, 222);
        font-size: 1.2rem;
    }

    button:hover {
        cursor: pointer;
        background-color: #5f5354;
    }

    button:disabled {
        cursor: not-allowed;
        background-color: #493638;
    }
}

.error-message {
    margin-top: 0.2rem;
    color: rgb(131, 15, 15);
    font-weight: 600;
}

form .form-text-input .error-border {
    border: 2px solid rgb(131, 15, 15);
}

.user-not-exit-modal {
    position: absolute;
    top: 150px;
    left: 150px;
    padding: 2rem 2rem 1.5rem;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    animation: show 0.3s;

    .fa-xmark {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
