:host {
    width: 100%;
}

form {
    width: 85%;
    margin: 1rem auto;

    .form-text-inputs {
        direction: rtl;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 150px;
    }

    .form-text-input {
        position: relative;
        width: 45%;
        display: flex;
        flex-direction: column;
        direction: rtl;

        label {
            margin-bottom: 0.5rem;
        }

        input {
            background-color: rgb(241, 222, 222);
            border: 1px solid #493638;
            border-radius: 10px;
            padding: 0.35rem 0.7rem;
            outline: none;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        }
    }

    button {
        display: block;
        width: 50%;
        margin: 3.3rem auto 0;
        padding: 0.5rem;
        border-radius: 15px;
        border: none;
        background-color: #493638;
        color: rgb(241, 222, 222);
        font-size: 1.2rem;
    }

    button:hover {
        cursor: pointer;
        background-color: #5f5354;
    }
}

.error-message {
    position: absolute;
    top: 63px;
    right: 5px;
    color: rgb(131, 15, 15);
    font-weight: 600;
}

form .form-text-inputs .form-text-input .error-border {
    border: 2px solid rgb(131, 15, 15);
}

.successful-signup-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .successful-signup-modal {
        position: relative;
        padding: 2rem 2rem 1.5rem;
        width: 300px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        font-weight: 700;
        animation: show 0.3s;

        .fa-xmark {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
        }
    }
}