:host {
    width: 100%;
}

form {
    width: 85%;
    margin: 1rem auto;

    .form-text-inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 180px;
    }

    .form-text-input {
        position: relative;
        width: 45%;
        display: flex;
        flex-direction: column;
        

        label {
            margin-bottom: 0.5rem;
        }

        input {
            background-color: rgb(241, 222, 222);
            border: 1px solid #493638;
            border-radius: 10px;
            padding: 0.35rem 0.7rem;
            outline: none;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        }
    }

    button {
        display: block;
        width: 50%;
        margin: 1.5rem auto 0;
        padding: 0.5rem;
        border-radius: 15px;
        border: none;
        background-color: #493638;
        color: rgb(241, 222, 222);
        font-size: 1.2rem;
    }

    button:hover {
        cursor: pointer;
        background-color: #5f5354;
    }
}

.error-message {
    position: absolute;
    bottom: 7px;
    color: rgb(131, 15, 15);
    font-weight: 600;
}

form .form-text-inputs .form-text-input .error-border {
    border: 2px solid rgb(131, 15, 15);
}