<form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
    <div class="form-text-inputs">
        <div class="form-text-input">
            <label for="name">שם: </label>
            <input type="text" formControlName="name"
                [ngClass]="{'error-border' : signupForm.get('name').invalid && signupForm.get('name').touched}">
            <div *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched" class="error-message">
                יש להכניס שם משתמש
            </div>
        </div>

        <div class="form-text-input">
            <label for="email">אימייל: </label>
            <input type="text" formControlName="email"
                [ngClass]="{'error-border' : signupForm.get('email').invalid && signupForm.get('email').touched}">
            <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched" class="error-message">
                {{emailErrorMessage()}}
            </div>
        </div>

        <div class="form-text-input">
            <label for="password">סיסמא: </label>
            <input type="password" formControlName="password"
                [ngClass]="{'error-border' : signupForm.get('password').invalid && signupForm.get('password').touched}">
            <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched" class="error-message">
                {{invalidPasswordMessage()}}
            </div>
        </div>

        <div class="form-text-input">
            <label for="confirm-password">סיסמא חוזרת: </label>
            <input type="password" formControlName="confirmPassword"
                [ngClass]="{'error-border' : (signupForm.get('confirmPassword').invalid || signupForm.invalid) && signupForm.get('confirmPassword').touched}">
            <div *ngIf="(signupForm.get('confirmPassword').invalid || signupForm.invalid) && signupForm.get('confirmPassword').touched"
                class="error-message">
                {{confirmPasswordErrorMessage()}}
            </div>
        </div>
    </div>

    <button [disabled]="signupForm.invalid" type="submit">register</button>

    <div class="signup-modal-container" *ngIf="signupModal.successfull || signupModal.error">
        <div class="signup-modal">
            <i class="fas fa-xmark" (click)="onCloseSignupModal()"></i>

            <div class="signup-successfull-message" *ngIf="signupModal.successfull">
                !נרשמת בהצלחה <br>
                יש להתחבר כדי להיכנס לאתר
            </div>

            <div class="signup-error-message" *ngIf="signupModal.error">
                .כתובת האימייל שהכנסת כבר קיימת במערכת
            </div>
        </div>
    </div>
</form>