<div class="account-container">
    <h1 class="headline">פרטי {{(isAdmin() ? 'מנהל' : 'החשבון שלך')}}</h1>

    <div class="user-field">
        <div class="field-content">
            <span class="category"> שם:</span>
            <span class="value" *ngIf="!editIconClicked.name">{{loggedUser.name}}</span>
            <input (keyup.enter)="onEnterNewValue('name', $event)" class="edit-value" type="text"
                *ngIf="editIconClicked.name" placeholder="הכנס ערך..">
        </div>

        <i (click)="onEditIconClicked('name')" class="far fa-edit"></i>
    </div>

    <div class="user-field">
        <div class="field-content">
            <span class="category"> אימייל:</span>
            <span class="value" *ngIf="!editIconClicked.email">{{loggedUser.email}}</span>
            <input (keyup.enter)="onEnterNewValue('email', $event)" class="edit-value" type="text"
                *ngIf="editIconClicked.email" placeholder="הכנס ערך..">
        </div>

        <i (click)="onEditIconClicked('email')" class="far fa-edit"></i>
    </div>

    <div class="user-field">
        <div class="field-content">
            <span class="category"> סיסמא:</span>
            <span class="value" *ngIf="!editIconClicked.password">xxxxxxxxxxxxxxx</span>
            <input (keyup.enter)="onEnterNewValue('password', $event)" class="edit-value" type="password"
                *ngIf="editIconClicked.password" placeholder="הכנס ערך..">
        </div>

        <i (click)="onEditIconClicked('password')" class="far fa-edit"></i>
    </div>

    <button (click)="onDeleteAccountButtonClicked()" class="delete-account" *ngIf="!isAdmin()">
        מחק חשבון
    </button>

    <div class="invalid-format-modal-container" *ngIf="invalidFields.emailFormat || invalidFields.emailTaken ||
        invalidFields.passwordFormat">
        <div class="invalid-format-modal">
            <i (click)="onCloseInvalidFormatModal()" class="fas fa-xmark"></i>
            <div *ngIf="!invalidFields.emailTaken">
                הכנסת {{invalidFields.emailFormat ? "כתובת מייל" : "סיסמא"}} בפורמט לא חוקי, נסה שוב
            </div>
            <div *ngIf="invalidFields.emailTaken">
                כתובת המייל כבר קיימת במערכת, אנא בחר כתובת אחרת.
            </div>
        </div>
    </div>
</div>