<div class="account-container">
    <h1 class="headline">פרטי החשבון שלך:</h1>

    <div class="user-field">
        <div class="field-content">
            <span class="category"> שם משתמש:</span>
            <span class="value" *ngIf="!editIconClicked[loggedUser.name]">{{loggedUser.name}}</span>
            <input (keyup.enter)="onEnterNewValue('name', $event)" class="edit-value" type="text" *ngIf="editIconClicked[loggedUser.name]" placeholder="הכנס ערך..">
        </div>

        <i (click)="onEditIconClicked(loggedUser.name)" class="far fa-edit"></i>
    </div>

    <div class="user-field">
        <div class="field-content">
            <span class="category"> אימייל:</span>
            <span class="value" *ngIf="!editIconClicked[loggedUser.email]">{{loggedUser.email}}</span>
            <input (keyup.enter)="onEnterNewValue('email', $event)" class="edit-value" type="text" *ngIf="editIconClicked[loggedUser.email]" placeholder="הכנס ערך..">
        </div>

        <i (click)="onEditIconClicked(loggedUser.email)" class="far fa-edit"></i>
    </div>

    <div class="user-field">
        <div class="field-content">
            <span class="category"> סיסמא:</span>
            <span class="value" *ngIf="!editIconClicked[loggedUser.password]">{{loggedUser.password}}</span>
            <input (keyup.enter)="onEnterNewValue('password', $event)" class="edit-value" type="text" 
            *ngIf="editIconClicked[loggedUser.password]"
            placeholder="הכנס ערך..">
        </div>

        <i (click)="onEditIconClicked(loggedUser.password)" class="far fa-edit"></i>
    </div>

    <button (click)="onDeleteAccountButtonClicked()" class="delete-account">Delete account</button>
</div>