<h1 class="headline">:ספרי החנות</h1>

<app-add-book (new_book_added)="onAddedNewBook()"></app-add-book>

<div class="books-container">
    <div class="book" *ngFor="let book of allBooks, let i = index">
        <i (click)="onSettingsIconClicked(i)" class="fas fa-ellipsis-v"></i>

        <div class="settings-modal" *ngIf="showSettingsModal[i]">
            <div (click)="onEditOptionClicked(i)" class="settings-modal-option">עריכת מחיר</div>
            <div (click)="onDeleteOptionClicked(i, book.id)" class="settings-modal-option">מחיקה</div>
        </div>

        <div class="edit-book-modal-container" *ngIf="showEditBookModal[i]">
            <div class="edit-book-modal">
                <i class="fa-solid fa-xmark" (click)="onCloseEditBookIconClicked(i)"></i>

                <div class="edit-book-modal-title">:הכנס מחיר</div>
                <div class="edit-input">
                    <button [disabled]="!editInputIsOnlyDigits" (click)="updateBookPrice(i, priceInput, book)"
                        class="confirm-edit-button">בצע</button>
                    <input #priceInput (input)="inputIsOnlyDigits(priceInput)" class="edit-input-text" type="text">
                </div>
            </div>
        </div>

        <div class="book-details">
            <div class="book-name">{{book.name}}</div>
            <div class="book-author">{{book.authorName}}</div>
            <div class="book-preview">
                <div class="book-preview-headline"> <strong>תיאור הספר:</strong></div>

                <div class="book-preview-content" [ngClass]="{ 'expand-preview' : readMoreButtonClicked[i] || !isSmallScreen }">
                    {{book.description}}
                </div>

                <button *ngIf="isSmallScreen" (click)="onReadMoreButtonClicked(i)" class="read-more-btn">
                    {{readMoreButtonClicked[i] ? "קרא פחות.." : "קרא עוד.."}}
                </button>
            </div>

            <div class="book-numeric-categories">
                <div class="book-id"><strong>מק"ט:</strong> {{book.id}}</div>
                <div class="book-price"><strong> מחיר:</strong> {{book.price}} ₪</div>
            </div>
        </div>

        <img class="book-image" src="{{book.imgPath}}" alt="">
    </div>
</div>