<h1 class="headline">הספרים שלנו</h1>

<div class="books-container">
    <div class="book" (mouseenter)="onMouseEnterBook(i)" (mouseleave)="onMouseLeaveBook(i)" *ngFor="let book of currentPageBooks,
    let i = index">
        <img (click)="router.navigate(['/book-details', book.id])" class="book-image" src="{{book.image}}" alt="">
        <div class="book-name">{{book.name}}</div>
        <div class="book-author">{{book.author}}</div>
        <div class="book-price">₪ {{book.price}} <strong> :מחיר</strong></div>

        <div *ngIf="showBookIcons[i]" class="book-icons">
            <div class="icon">
                <i (click)="onAddToCartIconClicked(book)" class="fa-solid fa-shopping-cart"></i>

                <div *ngIf="clickedBookExistInCart[i]" class="book-exist-in-cart-modal">
                    הגדל את הכמות בעגלת הקניות
                </div>

                <span *ngIf="!clickedBookExistInCart[i]" class="icon-info">
                    {{loggedUser ? 'הוסף לעגלה' : 'יש להתחבר כדי להוסיף ספר לעגלה'}}
                </span>
            </div>

            <div class="icon">
                <i class="fa-solid fa-heart"></i>

                <span class="icon-info">Add to favorites</span>
            </div>
        </div>
    </div>
</div>

<app-pagination (pageNumberChanged)="switchPage($event)"></app-pagination>