<div class="books-container">
    <div (mouseenter)="onMouseEnterBook(i)" (mouseleave)="onMouseLeaveBook(i)" class="book" *ngFor="let book of currentPageBooks,
    let i = index">
        <img class="book-image" src="{{book.image}}" alt="">
        <div class="book-name">{{book.name}}</div>
        <div class="book-author">{{book.author}}</div>
        <div class="book-price">₪ {{book.price}} <strong> :מחיר</strong></div>

        <div *ngIf="showBookIcons[i]" class="book-icons">
            <div class="icon">
                <i (click)="onAddToCartIconClicked(book)" class="fa-solid fa-shopping-cart"></i>
                <div *ngIf="clickedBookExistInCart[i]" class="book-exist-in-cart-modal">
                    This book is already in cart
                </div>
                <span *ngIf="!clickedBookExistInCart[i]" class="icon-info">Add to cart</span>
            </div>
            <div class="icon">
                <i class="fa-solid fa-heart"></i>
                <span class="icon-info">Add to favorites</span>
            </div>
        </div>
    </div>
</div>

<div class="pagination">
    <i class="fas fa-solid fa-chevron-left"></i>
    <i class="fas fa-solid fa-chevron-left"></i>
    <span class="pages-numbers" (click)="onPageNumberClicked(pageNumber)"
        *ngFor="let pageNumber of relevantPagesNumbers"
        [ngClass]="{'current-page-border': pageNumber === currentPageNumber}">
        {{pageNumber}}
    </span>
    <span class="pagination-dots" *ngIf="!(currentPageNumber <= pagesAmount 
    && currentPageNumber >= pagesAmount - 2)">
        ...
    </span>
    <span [ngClass]="{'current-page-border': pagesAmount === currentPageNumber}"
        (click)="onPageNumberClicked(pagesAmount)" class="last-page-number">{{pagesAmount}}</span>
    <i class="fas fa-solid fa-chevron-right"></i>
    <i class="fas fa-solid fa-chevron-right"></i>
</div>